.all-items-display {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box-for-item {
    width: 80%;
    background: white;
    /*display: flex;*/
    margin: auto;
    border-radius: 10px;
    /*padding: 10px;*/
}

.header-box-for-item {
    text-align: center;
    margin: 5px auto 0 auto;
    background-color: #F3976B;
    border-radius: 25px;
    width: 50%;
    font-size: 0.8rem;
}
.header-box-for-item p{
    padding: 5px 0 ;
}

.body-box-for-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body-box-for-item i {
    font-size: 1.9rem;
}

.footer-box-for-item {
    text-align: center;
    text-decoration: none;
}

.disabled {
    background-color: #70AF90 !important;
    border-color: #70AF90 !important;
}