@import "navbar.css";
@import "home.css";
@import "register.css";
@import "formConnexion.css";
@import "participants.css";
@import "account.css";

body {
    color: #474136;
}

.fa-ticket, .fa-bitcoin {
    color: goldenrod;
    transform: rotate(-45deg);
}