{% extends 'mail/layout.html.twig' %}

{% block body_email %}
    You lost the draw ! You need to pay {{ choco }} choco for your classroom mates !<br>
    One for you and the other for the others participants !<br>
    <p>
        Thanks to you for playing at this chocoWeek !
        <img src="https://www.linkpicture.com/q/logo_97.png" height="100" width="100" alt="logo"
                                               style="display: flex; align-items: center;">
    </p>
{% endblock %}