{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="rounded-5 table-participants form-sign-in-and-register">
        <h2 class="text-center">All users</h2>
        <table class="table border border-dark ">
            <thead class="">
            <tr>
                <th class="border-end border-dark text-center w-th">Email</th>
                <th class="border-dark border-end text-center w-th">Points</th>
                <th class="border-dark text-center w-th">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td class="border-dark border-end">{{ user.email }}</td>
                    <td class="border-dark border-end">{{ user.points }}</td>
                    <td>
                        <a href="{{ path('app_add_points', { id : user.id}) }}">Add points ? </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {#    <a href="{{ path('app_user_new') }}">Create new</a> #}
{% endblock %}
